.signUp01 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 100vh;
  margin: 0 auto;

  .stateBackground,
  .genderBackground {
    position: fixed;
    z-index: 9999;
    display: none;
    width: 375px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);

    .stateModalPart,
    .genderModalPart {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .contentSection {
    width: 100%;
    padding: 55px 42px 60px;

    .inputSection {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 40px;

      .errText {
        font-size: 14px;
        color: #f00;
      }
    }

    .selectSection {
      display: flex;
      align-items: center;
      flex-direction: column;

      .row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
      }
    }

    .text {
      font-size: 12px;
      font-weight: 400;
      line-height: 1.16;
      color: #949bad;
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
  }
}
