.errBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 60px;
  margin-bottom: 10px;
  background-color: #689afd;
  border: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  .errText {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.46;
    background-color: #de6f6f;
  }
}
