.dcSection {
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 300px;
  height: 45px;
  // margin-bottom: 17px;

  .discountSection {
    display: flex;
    align-items: center;

    .group {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      padding: 5px;
      margin-right: 10px;
      font-size: 12px;
      color: #fff;
      background-color: #689afd;
      border-radius: 30px;
    }
  }

  .notes {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.48;
    color: #939393;
  }

  .dc {
    display: flex;
    align-items: flex-end;

    .discount {
      margin-right: 7px;
      font-size: 22px;
      line-height: 1.44;
      color: #3568ee;
    }

    .finalPrice {
      display: flex;
      align-items: center;
      margin-right: 7px;
      font-size: 22px;
      line-height: 1.44;
      color: #283237;
    }

    .originPrice {
      margin-right: 7px;
      font-size: 17px;
      font-weight: 400;
      line-height: 1.44;
      color: #939393;
      text-decoration: line-through;
    }
  }

  .finalPrice {
    font-size: 22px;
    line-height: 1.44;
    color: #283237;
  }
}
