.previewSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
  cursor: pointer;
  background-color: transparent;
  border: 0;

  .profile {
    display: block;
    width: 56px;
    height: 56px;
    background-color: #e9e9e9;
    border: 0;
    border-radius: 50%;
  }

  .chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180px;

    .tuteeInfo {
      display: flex;
      align-items: center;
      margin-bottom: 3px;

      .tutee {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 39px;
        height: 22px;
        padding: 2px, 8px;
        margin-right: 7px;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.41;
        color: #ee5a5a;
        background-color: #fdefef;
        border: 0;
        border-radius: 6px;
      }

      .name {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.42;
        color: #2c343f;
        text-align: left;
      }
    }

    .last {
      height: 22px;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.66;
      color: #434a58;
      text-align: left;
    }
  }

  .timeInfo {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    width: 60px;
    height: 40px;

    .date {
      font-size: 11px;
      font-weight: 400;
      line-height: 1.18;
      color: #949bad;
    }

    .newChat {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 23px;
      height: 20px;
      padding: 2px 8px 3px 8px;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.25;
      color: #fff;
      background-color: #6595f4;
      border-radius: 50px;
    }
  }
}
