.mainContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #f3f3f3;

  .contentTable {
    width: 90%;
    background-color: #fff;
    border-collapse: collapse;

    .tableHeader {
      color: #fff;
      background-color: #6595f4;
    }

    .tableBody {
      text-align: center;

      tr {
        height: 50px;
        cursor: pointer;
        border-bottom: 1px solid #c4c4c4;

        td {
          height: 50px;
        }

        .title {
          width: 60%;
        }

        .other {
          width: 15%;
        }

        .confirmBtn,
        .denyBtn {
          height: 30px;
          font-weight: 700;
          color: #fff;
          cursor: pointer;
          background-color: #48c996;
          border: 0;
          border-radius: 4px;
        }

        .denyBtn {
          background-color: #e24d32;
        }
      }
    }
  }
}
