.changePW {
  width: 375px;
  height: 100vh;
  margin: 0 auto;

  .text {
    padding: 17px 48px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.23;
    color: #949bad;
  }

  .line {
    width: 100%;
    height: 8px;
    background-color: #f3f3f3;
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 42px;
  }

  .fixed {
    position: fixed;
    bottom: -15px;
  }

  .msg {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.23;
    color: #ee5a5a;
    text-align: center;
  }
}
