.chat {
  width: 375px;
  height: 100vh;
  margin: 0 auto;

  .contentSection {
    display: flex;
    flex-direction: column-reverse;
    height: 80%;
    overflow-y: auto;
    background-color: #f3f5f8;

    .content {
      position: relative;
      width: 100%;
      padding: 20px 10px 50px;
    }
  }

  .contentSection::-webkit-scrollbar {
    width: 0;
  }

  .fixedTab {
    position: fixed;
    bottom: 0;
  }
}
