.auth {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 90px;
  height: 24px;
  cursor: pointer;
  background-color: #689afd;
  border: 0;
  border-radius: 6px;
  outline: none;

  .text {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.83;
    color: #fff;
  }
}

.findPWSection {
  display: flex;
  flex-direction: column;
  width: 376px;
  height: 100vh;
  padding: 33px 63px 55px;
  margin: 0 auto;
  background-color: #fff;

  .title {
    margin: 0;
    margin-bottom: 145px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.46;
    color: #283237;
    text-align: center;
  }

  .inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 189px;

    .largeText {
      margin-bottom: 41px;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.65;
      color: #283237;

      .blueText {
        color: #689afd;
      }
    }

    .tel {
      position: relative;
      width: 100%;
    }

    .smallText {
      margin-bottom: 49px;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.66;
      color: #283237;
      text-align: center;
    }
  }
}
