.loadingPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 376px;
  height: 100vh;
  margin: 0 auto;
  background-color: #fff;

  .loadingText {
    font-size: 20px;
    font-weight: 700;
    color: #667089;
    animation-duration: 1400ms;
    animation-iteration-count: infinite;
    animation-name: flicker;
    animation-direction: alternate;
  }

  .loadingGauge {
    position: relative;
    width: 250px;
    height: 12px;
    overflow: hidden;
    background-color: #949bad;
    border: 0;
    border-radius: 10px;

    .bluebar {
      position: absolute;
      height: 12px;
      background-color: #3568ee;
      border: 0;
      border-radius: 10px;
      animation-duration: 1600ms;
      animation-iteration-count: infinite;
      animation-name: gaguebar;
      //   animation-direction: alternate;
    }
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes gaguebar {
  0% {
    width: 0;
    opacity: 1;
  }

  80% {
    width: 100%;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}
