.memberInfoEdit {
  width: 375px;
  height: 100vh;
  margin: 0 auto;

  .content {
    padding: 21px 42px;

    .sexBirth {
      display: flex;
      justify-content: space-between;
    }
  }

  .fixed {
    position: fixed;
    bottom: -15px;
  }

  .msg {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.23;
    color: #ee5a5a;
    text-align: center;
  }
}
