.memberInfoEdit {
  width: 375px;
  height: 100vh;
  margin: 0 auto;

  .content {
    padding: 21px 42px;

    .sexBirth {
      display: flex;
      justify-content: space-between;
    }
  }

  .fixed {
    position: fixed;
    bottom: -15px;
  }
}
