.mypageSection {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 100vh;
  margin: 0 auto;
  background-color: #fff;

  .profileSection {
    width: 100%;
    height: 200px;
    padding: 16px 20px 32px;
  }

  .line {
    width: 100%;
    height: 8px;
    background-color: #f3f3f3;
  }

  .categorySection {
    width: 100%;
    padding: 10px 21px 70px;

    .selectCategory {
      display: flex;
      flex-direction: column;

      .title {
        padding-bottom: 3px;
        margin-bottom: 0;
        font-size: 15px;
        font-weight: 700;
        line-height: 1.2;
        color: #6595f4;
        text-align: left;
        border-bottom: 2px solid #6595f4;
      }
    }
  }

  .fixedTab {
    position: absolute;
    bottom: 0;
  }
}
