.profileEditSection {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 100vh;
  margin: 0 auto;
  background-color: #fff;

  .imageSection {
    width: 100%;
    height: 200px;
    padding: 41px 138px 60px;
  }

  .profileImage {
    width: 100px;
    height: 100px;
    background-color: grey;
    border-radius: 50%;
  }

  .line {
    width: 100%;
    height: 8px;
    background-color: #f3f3f3;
  }

  .editBtnSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px 21px 70px;
  }

  .fixedTab {
    position: absolute;
    bottom: 0;
  }
}
