.refundList {
  width: 375px;
  height: 100vh;
  margin: 0 auto;

  .line {
    width: 100%;
    height: 8px;
    background-color: #f3f3f3;
  }

  .refundContent {
    padding: 13px 20px 200px 13px;
  }

  .fixed {
    position: fixed;
    bottom: -15px;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
