.myPageInput1,
.myPageInput2,
.myPageInput3 {
  display: flex;
  width: 332px;
  height: 41px;
  background-color: #f3f5f8;
  border: 1px solid #ebeaef;

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    font-size: 13px;
    color: #434a58;
  }

  .inputBox {
    width: 236px;
    background-color: #f3f5f8;
    border: 0;
    outline: none;
  }

  .educationLevel {
    background-color: transparent;
    border: 0;
    outline: none;
  }
}

.myPageInput1 {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.myPageInput3 {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.thickInputBox {
  width: 290px;
  height: 50px;
  padding: 15px 18px;
  margin-bottom: 18px;
  background-color: #f3f5f8;
  border: 0;
  border-radius: 10px;
  outline: none;
}

.thickInputBox::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  color: #949bad;
}

.withTitle {
  width: 290px;
  height: 72px;
  margin-bottom: 13px;
  border-radius: 10px;

  .title {
    margin: 0;
    margin-left: 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    color: #6595f4;
  }
}
