.reviewModal {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 330px;
  height: 175px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.25);

  .text {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.33;
    color: #2c343f;
  }

  .btn {
    width: 216px;
    height: 40px;
    cursor: pointer;
    background-color: #6595f4;
    border: 0;
    border-radius: 5px;
    outline: none;

    .ok {
      font-size: 15px;
      font-weight: 700;
      line-height: 1.46;
      color: #fff;
    }
  }

  .close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: transparent;
    background-image: url("/images/mypage/close.svg");
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    outline: none;
  }
}

.refundModal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 330px;
  height: 175px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.25);

  .text {
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
    color: #2c343f;
    text-align: center;

    .price {
      font-size: 15px;
      font-weight: 700;
      line-height: 1.46;
      color: #2c343f;
    }
  }

  .btn {
    display: flex;
    justify-content: space-between;
    width: 216px;

    .cancelBtn,
    .okBtn {
      width: 100px;
      height: 40px;
      cursor: pointer;
      background-color: #949bad;
      border: 0;
      border-radius: 5px;
      outline: none;

      .btnText {
        font-size: 15px;
        font-weight: 700;
        line-height: 1.46;
        color: #fff;
      }
    }

    .okBtn {
      background-color: #6595f4;
    }
  }
}

.reasonModal {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 330px;
  height: 370px;
  padding: 30px 40px 0 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.25);

  .text {
    margin-bottom: 17px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.46;
    color: #2c343f;
    text-align: center;
  }

  .reason {
    height: 280px;
    margin-bottom: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.42;
    color: #2c343f;
    text-align: center;
  }

  .btn {
    width: 216px;
    height: 40px;
    padding: 9px;
    margin-bottom: 30px;
    cursor: pointer;
    background-color: #6595f4;
    border: 0;
    border-radius: 5px;
    outline: none;

    .ok {
      font-size: 15px;
      font-weight: 700;
      line-height: 1.46;
      color: #fff;
    }
  }
}

.reason::-webkit-scrollbar {
  width: 10px;
}

.reason::-webkit-scrollbar-thumb {
  background-color: #949bad;
}

.reason::-webkit-scrollbar-track {
  background-color: #f3f3f3;
}
