.ProfileEditBtn {
  display: flex;
  justify-content: space-between;
  width: 333px;
  height: 47px;
  cursor: pointer;
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid #e8eaef;

  .text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21;
    color: #2c343f;
  }

  .goto {
    width: 24px;
    height: 24px;
    background-image: url("/public/images/mypage/goto.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
}

.myPageCategoryBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 333px;
  height: 40px;
  padding-left: 9px;
  cursor: pointer;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #e8eaef;

  .text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21;
    color: #2c343f;
  }
}
