.selectBox,
.selectBox2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;

  .title {
    margin-left: 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    color: #6595f4;
  }

  .sel {
    position: relative;
    width: 140px;
    height: 50px;
    padding: 15px 18px;
    background-color: #f3f5f8;
    border: 0;
    border-radius: 10px;
    outline: none;
    appearance: none;
  }

  select {
    background-image: url("/images/mypage/arrow.svg");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: center;
  }

  select::-ms-expand {
    display: none;
  }
}

.selectBox2 {
  margin-bottom: 0;

  .sel {
    font-size: 16px;
    font-weight: 900;
    line-height: 1.1875;
    color: #949bad;
  }

  .option {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1875;
    color: #949bad;
  }

  .checkSec {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .check {
      font-family: Noto Sans KR;
      font-size: 9px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.44;
      letter-spacing: 0em;
      color: #949bad;
      text-align: left;
    }
  }
}
