.tuteeBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #e8eaef;

  .img {
    width: 30px;
    height: 30px;
    background-color: #2c343f;
    border-radius: 50%;
  }

  .name {
    width: 210px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.21;
    color: #2c343f;
  }

  .count {
    font-size: 8px;
    font-weight: 500;
    line-height: 1.25;
    color: #6595f4;
  }

  .dropBtn {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: transparent;
    background-image: url("/images/mypage/dropbar.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border: 0;
    outline: none;
  }
}

.tuteeBoxOpen,
.refundBox {
  border-bottom: 1px solid #e8eaef;

  .firstLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    .nameSection {
      display: flex;
      align-items: center;

      .img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        background-color: #2c343f;
        border-radius: 50%;
      }
    }
  }

  .tuteeBoxOpen {
    .upbar {
      width: 24px;
      height: 24px;
      cursor: pointer;
      background-color: transparent;
      background-image: url("/images/mypage/upbar.svg");
      background-position: center;
      background-repeat: no-repeat;
      border: 0;
      outline: none;
    }
  }

  .boxContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    .classImg {
      width: 84px;
      height: 84px;
      border-radius: 8px;
    }

    .classContent {
      width: 239px;

      .title {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42;
        color: #2c343f;
      }

      .type {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.16;
        color: #949bad;
      }

      .price {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        color: #2c343f;

        .unit {
          font-size: 12px;
          font-weight: 700;
          line-height: 1.16;
          color: #2c343f;
        }
      }

      .month {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.23;
        color: #949bad;
      }
    }
  }

  .btn {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.refundReq {
  display: flex;

  .req {
    display: flex;
    align-items: center;
    width: 61px;
    height: 22px;
    padding: 2.5px 8px;
    margin-right: 10px;
    background-color: #eaebef;
    border-radius: 8px;

    .text {
      font-size: 12px;
      font-weight: 500;
      line-height: 1.41;
      color: #ee5a5a;
    }
  }

  .chat {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: transparent;
    background-image: url("/images/mypage/refundChat.svg");
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    outline: none;
  }
}

.refundBox {
  .date {
    padding-bottom: 13px;
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
    color: #2c343f;
    border-bottom: 1px solid #e8eaef;
  }
}

.line {
  width: 100%;
  height: 8px;
  margin-bottom: 10px;
  background-color: #f3f3f3;
}
