.whitesection {
  width: 375px;
  height: 100px;
  margin: 0 auto;
  background-color: #fff;

  .title {
    padding-top: 12px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 2;
  }

  .category {
    display: flex;
    width: 100%;
    height: 40px;
    .selected,
    .unselected {
      width: 187px;
      font-size: 15px;
      line-height: 1.4666666666;
      letter-spacing: -0.41px;
      text-align: center;
      background-color: white;
      border: none;
      cursor: pointer;
    }

    .selected {
      font-weight: 700;
      color: #3568ee;
      border-bottom: 3px solid #3568ee;
    }

    .unselected {
      font-weight: 400;
      color: #949bad;
    }
  }
}

.graysection {
  width: 375px;
  padding-bottom: 80px;
  margin: 0 auto;
  background-color: #f3f3f3;

  .smallheadingB {
    font-size: 13px;
    line-height: 1.69230769;
    color: #949bad;
    padding: 16px 21px;
    margin: 0;
  }
  .smallheadingB {
    font-weight: 700;
  }
  .fixedTab {
    position: fixed;
    bottom: -15px;
  }
}
